@page "/editstudent/{id:int}"
@layout MainLayout

@using Student.DataModels.Models
@using Microsoft.EntityFrameworkCore
@using Student.DataModels

@inject ApplicationDbContext DbContext
@inject NavigationManager navManager
@inherits StudentDB.Pages.EditStudentBase

<h3>Edit Student</h3>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}
else if (student != null)
{
    <EditForm Model="student" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>First Name:</label>
            <InputText @bind-Value="student.FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <InputText @bind-Value="student.LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <InputText @bind-Value="student.EmailAddress" class="form-control" />
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <InputText @bind-Value="student.PhoneNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label>Field Of Study:</label>
            <InputSelect @bind-Value="student.FieldOfStudy" class="form-control">
                <option value="">Select Field of Study</option>
                @foreach (var field in fieldsOfStudy)
                {
                    <option value="@field">@field</option>
                }
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}
else
{
    <p class="text-danger">Student not found.</p>
}
