@page "/login"
@inject HttpClient HttpClient
@inject INotify notify
@using Blazored.SessionStorage
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@using Student.DataModels.CustomModels
@using StudentDB.Services.Interfaces
@inject IAdminPanelService adminPanelService
@inject NavigationManager navManager
@inherits StudentDB.Pages.LoginBase

<style>
    body {
        background-color: #E0F7FA;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .loginBox {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    .box {
        background: white;
        width: 100%;
        max-width: 400px;
        border-radius: 6px;
        padding: 20px;
        border: #2877e9 4px solid;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

        .box h1 {
            font-size: 1.8em;
            color: #525252;
            margin-bottom: 20px;
        }

        .box p {
            font-size: 14px;
            color: #525252;
        }

    .email, .password {
        width: calc(100% - 16px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
    }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1em;
        color: white;
        background-color: #2877e9;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        width: 100%;
    }

        .btn-primary:hover {
            background-color: #1c5bb8;
        }

    .alert {
        color: #e52e50;
        font-size: 1.2em;
    }
</style>

<div class="loginBox">
    <div class="box">
        <h1>Admin Panel</h1>
        <EditForm Model="@LoginModel" OnValidSubmit="Login_Click">
            <DataAnnotationsValidator />
            <InputText type="email" class="email" @bind-Value="LoginModel.EmailId" placeholder="Email" autocomplete="email" />
            <ValidationMessage For="@(() => LoginModel.EmailId)" />
            <InputText type="password" class="password" @bind-Value="LoginModel.Password" placeholder="Password" autocomplete="current-password" />
            <ValidationMessage For="@(() => LoginModel.Password)" />
            <input type="submit" class="btn-primary" value="Login" />
        </EditForm>
    </div>
    <div class="alert">
        <h4>@AlertMessage</h4>
    </div>
    <p>Don't have an account? <a href="/register">Register here</a></p>
</div>
