@inherits LayoutComponentBase


<div class="sidebar">
  
</div>

<div class="main">
    <div class="top-bar">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/majors">Majors</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/students" Match="NavLinkMatch.All">All Students</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/createstudent">Create Student</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/login">Log out</NavLink>
                </li>
            </ul>
        </nav>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


