@page "/register"

@using Student.DataModels.CustomModels
@using StudentDB.Services
@using StudentDB.Services.Interfaces
@inject IAdminPanelService adminPanelService
@inject NavigationManager navManager
@inherits StudentDB.Pages.RegisterBase

<EditForm Model="@registerModel" OnValidSubmit="Register_Click">
    <DataAnnotationsValidator />
    <InputText type="email" id="email" class="form-control" placeholder="Email" @bind-Value="registerModel.EmailId" autocomplete="email" />
    <ValidationMessage For="@(() => registerModel.EmailId)" />
    <InputText type="password" id="password" class="form-control" placeholder="Password" @bind-Value="registerModel.Password" autocomplete="new-password" />
    <ValidationMessage For="@(() => registerModel.Password)" />
    <br />
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

<p class="alert">@alertMessage</p>
